@import "tailwindcss";

@theme {
  --font-sans-condensed:
    "Barlow Condensed", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans:
    "Barlow", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Bellefair", serif, ui-serif, Georgia, Cambria, "Times New Roman", Times;

  --color-blue-900: #0B0D17;
  --color-blue-300: #D0D6F9;

}

html,
body {}